#writeButton, #replyButton, #listButton {
	background: #9BB460;
	border-radius: 100px;
	border: none;
	color: #ffffff;
	font-weight: 400;
	transition: all 0.4s ease-in-out;
	height: 40px;
	width: 150px;
	float: right;
}

#modifyButton, #deleteButton {
	background: #549145;
	border-radius: 100px;
	border: none;
	color: #ffffff;
	font-weight: 400;
	transition: all 0.4s ease-in-out;
	height: 40px;
	width: 80px;
	float: right;
}

#modifyButton, #deleteButton {
	margin-right: 5px;
}

#listButton2 {
	border-radius: 100px;
	border: 1px solid #9BB460;
	color: #9BB460;
	font-weight: 400;
	transition: all 0.4s ease-in-out;
	height: 40px;
	width: 150px;
	float: right;
	margin-right: 320px;
}

#successButton {
	background: #9BB460;
	border-radius: 100px;
	border: none;
	color: #ffffff;
	font-weight: 400;
	transition: all 0.4s ease-in-out;
	height: 40px;
	width: 150px;
	float: right;
	margin-right: 20px;
}

#replyButton {
	margin-top: 15px;
}


#contextOptionButton {
	float: right;
	margin-top: 15px;
	margin-left: 20px;
}

#replyOptionButton {
	float: right;
	margin-top: 60px;
	margin-left: 20px;
}


.woocommerce-pagination {
	margin-bottom: 50px
}

.blog-context {
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
	margin-top: 55px;
	padding-top: 42px;
	padding-bottom: 42px;
	margin-bottom: 15px;
}

.blog-good {
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 15px;
	margin-bottom: 42px;
}

.blog-good input {
	margin-top: 45px;
}

.blog-reply-form {
	border-top: 1px solid #f0f0f0;
	margin-top: 42px;
	padding-top: 42px;
}

.blog-post-des {
	text-overflow: ellipsis; /* 말 줄임 적용 */
	overflow: hidden; /* 지정된 라인 수를 넘어갈 경우 */
	display: -webkit-box; /* 해당 영역을 box 형태로 관리 */
	-webkit-line-clamp: 2; /* 컨텐츠의 최대 라인수 지정*/
	-webkit-box-orient: vertical; /* box내의 정렬을 수직으로 하도록 함 */
}

#ques {
	margin-top: 20px;
}

#textArea {
	margin-top: 15px;
}

.blog-post {
	border-bottom: 1px solid #f0f0f0;
	  padding-top: 22px; /* 게시물과 구분선 하단 간격*/
	  padding-bottom: 22px; /* 게시물과 구분선 하단 간격*/
	  margin-bottom: 32px;	
}

