<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.AuctionAttachMapper">

	<insert id="insert">
		insert into auctionimg(auuid,auploadPath,aimgname,ano) 
		values(#{auuid},#{auploadPath},#{aimgname},#{ano})
	</insert>

</mapper>