<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.BoardMapper">
	
	<insert id="insert">
		insert into myPlace(mno, userid, mcategory, title, content)
		values (myPlace_seq.nextval, #{userid}, #{mcategory}, #{title}, #{content})
	</insert>

	<select id="listAll" resultType="com.company.domain.BoardDTO">
		select mno,myPlace.userid,title,content,regdate,mcount,mcategory,nickname, mytown 
		from myPlace right outer join member on member.userid = myPlace.userid
		where mno>0 order by mno desc, regdate desc
	</select>
	
	<select id="read" resultType="com.company.domain.BoardDTO">
		select mno,myPlace.userid,title,content,regdate,mcount,mcategory,nickname, mytown 
		from myPlace right outer join member on member.userid = myPlace.userid
		where mno = #{mno}
	</select>
</mapper>