<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.MemberMapper">
	<!-- 로그인 -->
	<!-- security 적용 후 로그인 -->
	<select id="readMember" resultMap="memberMap">
		SELECT 
			m1.userid, password, enabled, authority
		FROM 
			member m1, sp_member_authority m2
		WHERE
			m1.userid=m2.userid AND m1.userid=#{userid}
	</select>
	
	<resultMap type="com.company.domain.MemberDTO" id="memberMap">
		<id property="userid" column="userid" />
		<result property="password" column="password" />
		<result property="enabled" column="enabled" />
		
		<collection property="authList" resultMap="authMap" />		
	</resultMap>
	
	<resultMap type="com.company.domain.MemberAuthorityDTO" id="authMap">
		<result property="userid" column="userid" />
		<result property="authority" column="authority" />
	</resultMap>
	
	
	
	
	<!-- 회원가입 -->
	<!-- 회원가입 처리 -->
	<insert id="insertMember">
		INSERT INTO 
		    member(userid, password, nickname, email, phone, mytown)
		VALUES(
		    #{userid}, #{password}, #{nickname}, #{email}, #{phone}, #{mytown}
		)
	</insert>

	<!-- 회원가입 시 권한정보 삽입 -->
	<insert id="insertMemberAuth">
		INSERT INTO
			sp_member_authority(userid, authority)
		VALUES (
			#{userid}, #{authority}
		)
	</insert>

	<!-- 중복 아이디 검사 -->
	<select id="checkByUserid" resultType="com.company.domain.MemberDTO">
		SELECT * FROM member WHERE userid=#{userid}
	</select>
	
	<!-- 중복 닉네임 검사(전체) -->
	<select id="checkByNickname" resultType="com.company.domain.MemberDTO">
		SELECT * FROM member WHERE nickname=#{nickname}
	</select>
	
	<!-- 중복 이메일 검사 -->
	<select id="checkByEmail" resultType="com.company.domain.MemberDTO">
		SELECT * FROM member WHERE email=#{email}
	</select>



	<!-- 회원정보 -->
	<!-- 회원정보 불러오기 -->
	<select id="readMemberInfo" resultType="com.company.domain.MemberDTO">
		SELECT * FROM member WHERE userid=#{userid}
	</select>
	
	<!-- 동일 닉네임 검사 -->
	<select id="checkSameNickname" resultType="String">
		SELECT nickname FROM member WHERE userid=#{userid}
	</select>
	
	<!-- 닉네임 수정 -->
	<update id="modifyNickname">
		UPDATE member SET nickname=#{nickname} WHERE userid=#{userid}
	</update>
	
	<!-- 기존 비밀번호 일치 확인 -->
	<select id="checkOrgPwd" resultType="String">
		SELECT password FROM member WHERE userid=#{userid}
	</select>
	
	<!-- 비밀번호 수정 -->
	<update id="modifyPwd">
		UPDATE member SET password=#{new_password} WHERE userid=#{userid}
	</update>
	
	<!-- 동일 이메일 검사 -->
	<select id="checkSameEmail" resultType="String">
		SELECT email FROM member WHERE userid=#{userid}
	</select>
	
	<!-- 이메일 수정 -->
	<update id="modifyEmail">
		UPDATE member SET email=#{email} WHERE userid=#{userid}
	</update>
	
	<!-- 휴대전화 수정 -->
	<update id="modifyPhone">
		UPDATE member SET phone=#{phone} WHERE userid=#{userid}
	</update>
	
	<!-- 내동네 수정 -->
	<update id="modifyMytown">
		update member set mytown=#{mytown} where userid=#{userid}
	</update>
	
	
	<!-- 회원탈퇴 -->
	<!-- 회원정보 삭제 -->
	<delete id="deleteMember">
		DELETE FROM member WHERE userid=#{userid}
	</delete>
	<!-- 권한정보 삭제 -->
	<delete id="deleteMemberROLE">
		DELETE FROM sp_member_authority WHERE userid=#{userid}
	</delete>
</mapper>