<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.MemberMapper">
	<!-- 로그인 -->
	<!-- security 적용 후 로그인 -->
	<select id="readMember" resultMap="memberMap">
		SELECT 
			m1.userid, password, enabled, authority
		FROM 
			member m1, sp_member_authority m2
		WHERE
			m1.userid=m2.userid AND m1.userid=#{userid}
	</select>
	
	<resultMap type="com.company.domain.MemberDTO" id="memberMap">
		<id property="userid" column="userid" />
		<result property="password" column="password" />
		<result property="enabled" column="enabled" />
		
		<collection property="authList" resultMap="authMap" />		
	</resultMap>
	
	<resultMap type="com.company.domain.MemberAuthorityDTO" id="authMap">
		<result property="userid" column="userid" />
		<result property="authority" column="authority" />
	</resultMap>
	
	
	
	
	<!-- 회원가입 -->
	<!-- 회원가입 처리 -->
	<insert id="insertMember">
		INSERT INTO 
		    member(userid, password, nickname, email, phone, mytown)
		VALUES(
		    #{userid}, #{password}, #{nickname}, #{email}, #{phone}, #{mytown}
		)
	</insert>
	<!-- 회원가입 시 권한정보 삽입 -->
	<insert id="insertMemberAuth">
		INSERT INTO
			sp_member_authority(userid, authority)
		VALUES (
			#{userid}, #{authority}
		)
	</insert>
	<!-- 중복 아이디 검사 -->
	<select id="checkByUserid" resultType="com.company.domain.MemberDTO">
		SELECT * FROM member WHERE userid=#{userid}
	</select>
	<!-- 중복 닉네임 검사 -->
	<select id="checkByNickname" resultType="com.company.domain.MemberDTO">
		SELECT * FROM member WHERE nickname=#{nickname}
	</select>



	<!-- 회원정보 -->
	<!-- 회원정보 불러오기 -->
	<select id="readMemberInfo" resultType="com.company.domain.MemberDTO">
		SELECT * FROM
			member
		WHERE userid=#{userid}
	</select>
	
	<!-- 닉네임 수정 -->
	<update id="modifyNickname">
		UPDATE member SET nickname=#{nickname} WHERE userid=#{userid}
	</update>
</mapper>