<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.MyPlaceReplyMapper">

	<!-- mno가 일치하는 댓글 가져오기 -->
	<select id="list" resultType="com.company.domain.MyPlaceReplyDTO">
		select * from myPlaceReply where mno=#{mno} order by mrno asc
	</select>		
	
	<insert id="insert">
		insert into myPlaceReply(mrno,mno,userid,nickname,content)
		values(myPlaceReply_seq.nextval,#{mno},#{userid},#{nickname},#{content})
	</insert>
	
	<update id="update">
		update myPlaceReply
		set content=#{content}, updatedate=sysdate where mrno=#{mrno}
	</update>
	
	<delete id="delete">
		delete from myPlaceReply where mrno=#{mrno}
	</delete>
	
	<!-- mno가 일치하는 댓글의 전체 댓글 수 -->
	<select id="getCountByMno" resultType="int">
		selete count(mrno) from myPlaceReply where mno=#{mno}
	</select>
	
	
</mapper>