<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.ProductMapper">

	<!-- 입력 -->
	<insert id="insert">

		<selectKey keyProperty="pno" order="BEFORE" resultType="int">
			select product_seq.nextval from dual
		</selectKey>
		insert into product(pno,category,title,price,content,delivery,discount,userid,mytown)
		values(#{pno},#{category},#{title},#{price},#{content},#{delivery},#{discount},#{userid},#{mytown})
	
	</insert>
	
	
	<resultMap type="com.company.domain.ProductDTO" id="productMap">
		<id property="pno" column="pno"/> <!-- pk는 id -->
		<result property="title" column="title"/>
		<result property="price" column="price"/>
		<result property="good" column="good"/>
		<result property="category" column="category"/>
		<result property="mytown" column="mytown"/>
		<result property="reservation" column="reservation"/>
		<collection property="attachList" resultMap="attachMap"></collection>
	</resultMap>

	<resultMap type="com.company.domain.AttachProductDTO" id="attachMap">
		<result property="puuid" column="puuid"/>
		<result property="pno" column="pno"/>
		<result property="puploadPath" column="puploadPath"/>
		<result property="pimgname" column="pimgname"/>
	</resultMap>
	
	<!-- 해당 userid를 통해 동네 알아내기 -->
	
	<select id="town" resultType="com.company.domain.MemberDTO">
	select userid, mytown from member where userid = #{userid} 
	</select>
	
	<!-- 전체 조회 -->
	<select id="listAll" resultMap="productMap">
		
		<![CDATA[
		select * 
		from (select rownum rn,pno, price, title, good, puuid, puploadpath, pimgname, category, mytown , reservation
		  from (select  pd.pno, price, title, good, puuid, puploadpath, pimgname, category, mytown , reservation
			    from product pd, (select * 
			                      from PRODUCTIMG 
			                      where Rowid in (select max(rowid) from PRODUCTIMG group by pno)) pdi
				where pd.pno = pdi.pno and pd.soldout = 0
		]]>
		
		<if test='!cate.equals("전체")'>
		 and category = #{cate}
		 </if>
		
		 <![CDATA[ 
		 order by pd.pno desc) where rownum <= (#{pageNum} * #{amount}))
      where rn> (#{pageNum}-1) * #{amount}
		 ]]>
	
	</select>
	
		<!-- 전체 게시물 수 -->
	<select id="totalCnt" resultType="int">
		select count(*)
		from
		product
		where		
		 pno > 0 and soldout = 0
		 <if test='!cate.equals("전체")'>
		 and category = #{cate}
		 </if>
	</select>
	
		<!--로그인 된 회원 전체 조회 -->
	<select id="SeclistAll" resultMap="productMap">
		
		<![CDATA[
		select * 
		from (select rownum rn,pno, price, title, good, puuid, puploadpath, pimgname, category, mytown , reservation
		  from (select  pd.pno, price, title, good, puuid, puploadpath, pimgname, category, mytown , reservation
			    from product pd, (select * 
			                      from PRODUCTIMG 
			                      where Rowid in (select max(rowid) from PRODUCTIMG group by pno)) pdi
				where pd.pno = pdi.pno and pd.mytown = (select mytown from member where userid = #{userid}) and pd.soldout = 0
		]]>
		
		<if test='!cri.cate.equals("전체")'>
		 and category = #{cri.cate}
		 </if>
		
		 <![CDATA[ 
		 order by pd.pno desc) where rownum <= (#{cri.pageNum} * #{cri.amount}))
      where rn> (#{cri.pageNum}-1) * #{cri.amount}
		 ]]>
	
	</select>
	
		<!--로그인 된 회원 전체 게시물 수 -->
	<select id="SectotalCnt" resultType="int">
		select count(*)
		from
		product
		where		
		 pno > 0 and mytown = (select mytown from member where userid = #{userid}) and soldout = 0
		 <if test='!cate.equals("전체")'>
		 and category = #{cate} 
		 </if>
	</select>
	
	<!--판매상품 전체 조회 -->
	<select id="SelllistAll" resultMap="productMap">
		
		<![CDATA[
		select * 
		from (select rownum rn,pno, price, title, good, puuid, puploadpath, pimgname, category, mytown , reservation
		  from (select  pd.pno, price, title, good, puuid, puploadpath, pimgname, category, mytown , reservation
			    from product pd, (select * 
			                      from PRODUCTIMG 
			                      where Rowid in (select max(rowid) from PRODUCTIMG group by pno)) pdi
				where pd.pno = pdi.pno and pd.userid = #{userid} and pd.soldout = #{num}
		]]>
		
		<if test='!cri.cate.equals("전체")'>
		 and category = #{cri.cate}
		 </if>
		
		 <![CDATA[ 
		 order by pd.pno desc) where rownum <= (#{cri.pageNum} * #{cri.amount}))
      where rn> (#{cri.pageNum}-1) * #{cri.amount}
		 ]]>
	
	</select>
	
		<!--판매상품 전체 게시물 수 -->
	<select id="SelltotalCnt" resultType="int">
		select count(*)
		from
		product
		where		
		 pno > 0 and userid = #{userid} and soldout = #{num}
		 <if test='!cate.equals("전체")'>
		 and category = #{cate} 
		 </if>
	</select>
	
	
	<!--  상품상세정보 확인 -->
	<select id="getRow" resultType="com.company.domain.ProductDTO">
		select *
		from product where pno = #{pno}
	</select>
	
	
	<!-- 좋아요 개수 변경 -->
	<update id="goodcount">
		update product set good = good + #{num} where  pno = #{pno}
	</update>
	
		<!-- 삭제 -->
	<delete id="delete">
		delete from product where pno=#{pno}
	</delete>
	
		<!-- update -->
	<update id="update">
		update product set title=#{title},
		content=#{content}, category=#{category}, price = #{price}, delivery=#{delivery}, discount=#{discount} where pno = #{pno}
	</update>
	
	<!-- 예약여부 변경 -->
	<update id="resupdate">
		update PRODUCT set reservation = #{num} where pno = #{pno}
	</update>

	<!-- 판매여부 변경 -->
	<update id="solupdate">
		update PRODUCT set soldout = #{num} where pno = #{pno}
	</update>
</mapper>