<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.ReplyMapper">

	<!-- mno가 일치하는 댓글 가져오기 -->
	<select id="list" resultType="com.company.domain.ReplyDTO">
		select member.nickname, member.mytown, myPlaceReply.content, myPlaceReply.regdate, myPlaceReply.updatedate, myPlaceReply.mno
		from myPlaceReply, member
		where mno = #{mno}
	</select>	
	
	<!-- 댓글 삽입하기 -->
	<insert id="insert">
		insert into myPlaceReply(mrno,mno,userid,content)
		values(myPlaceReply_seq.nextval,#{mno},#{userid},#{content})
	</insert>
	
</mapper>